#mainCardContainer {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
}
#title{
    margin-top: 10px;
    background-color: antiquewhite;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#closeButton {
    cursor: pointer;
    z-index: 100;
}
#desc{
    margin-top: 3px;
    margin-bottom: 10px;
    text-align: left;
}
#img {
    max-width: 450px;
    max-height: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}